<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
        integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">




    <!------ Include the above in your HEAD tag ---------->
</head>

<nav class="navbar navbar-expand-md" style="background-color: #2e8a9b;">
    <div class="container">
        <div class="container-fluid" style="margin-top: 20px; margin-bottom: 20px;">
            <form action="">
                <select class="js-example-responsive" multiple="multiple" style="width: 1024px;">
                    <optgroup label="Institución">
                        <option value="Inamhi">INAMHI</option>
                        <option value="Remmaq">REMMAQ</option>
                    </optgroup>
                    <optgroup label="Estación">
                        <option value="AL">Belisario</option>
                        <option value="WY">UPS</option>
                        <option value="WY">Alameda</option>
                    </optgroup>
                    <optgroup label="Magnitud">
                        <option value="WY">Temperatura</option>
                        <option value="WY">Humedad</option>
                        <option value="WY">Precipitación</option>
                        <option value="WY">Nubosidad</option>
                    </optgroup>
                </select>
                <button type="submit" class="btn btn-warning btn-sm"> <img src="/images/search.png" alt="x" /></button>
                <script>
                    $(document).ready(function () {
                        $('.js-example-responsive').select2({
                            placeholder: "Buscar"

                        });
                    });
                </script>
            </form>


        </div>
    </div>


</nav>

<div class="container-fluid" style="margin-top: 50px; margin-bottom: 180px; width: 60%;">


    {{#each allfiles}}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title" style="color: #2e8a9b ;">{{tituloArchivo}}</h4>
            <p class="card-text"><a style="font-weight: bold;">Archivo Subido:</a> {{date}}
            </p>
            <p class="card-text">
                <a style="font-weight: bold;">Autor:</a><a href="" style="color: black;"> </a>
                | <a style="font-weight: bold;">Origen:</a> <a href="" style="color: black;"> {{origen}}</a>
                | <a style="font-weight: bold;">Estación: </a> <a href="" style="color: black;">
                    {{nombreestaciones}}</a>
                | <a style="font-weight: bold;">Magnitud:</a> <a href="" style="color: black;"> {{magnitud}}</a>
            </p>

            <p class="card-text"> <a style="font-weight: bold;">Rango: </a> Desde: {{fechainicio}} - Hasta: {{fechafin}}
            </p>
            <button class="btn-primary">CSV</button>
            <button class="btn-success">XLS</button>
            <button class="btn-secondary">Original</button>
        </div>
    </div>
    </br>
    {{/each}}
    <div class="row">

            {{#if pages}}
            <nav class="mx-auto">
                <ul class="pagination">
                    <!--Primera Pagina-->
                    {{{pgi page}}}

                    <!--PÁGINAS INTERMEDIAS-->
                    {{{api page pages}}}


                    <!--ULTIMA-->
                    {{{lpi page pages}}}



                </ul>
                <h6 class="text-center" style="color: #2e8a9b;">Páginas encontradas: {{pages}}</h6>
            </nav>

            {{/if}}




        </div>


    </br>

</div>