<center>
    <h1>Historial de archivos {{user.name}}</h1>
</center>
<div class="container-fluid" style="margin-top: 50px;">
    <div class="container-fluid" style="margin-top: 50px; margin-bottom: 180px; width: 1024px;">
        {{#each archivos}}
            <div class="card card-carrera">
                <div class="card-body">
                    <h4 class="card-title" style="color: #2e8a9b ;">Título: {{tituloArchivo}}</h4>
                    
                    <p class="card-text"> Archivos de la Red Metropolitana de Monitoreo Atmosférico de Quito.
                    </p>
                    <p class="card-text">
                        
                        <!---Autor: <a href="" style="color: black;">{{user.name}}</a>-->
                        
                        | Origen: <a href="" style="color: black;"> {{origen}}</a>
                        | Magnitud: <a href="" style="color: black;">{{magnitud}} </a>
                        | Estaciones: <a href="" style="color: black;">{{nombreestaciones}} </a>
                        | Descripción: <a href="" style="color: black;">{{description}}</a>
                    </p>
                </div>

            </div>
        <br>
        {{/each}}

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
       
    </div>
    
</div>
