<br>
<br>
<br>
<br>
<div class="jumbotron">
  <h1 class="display-2">Resumen de datos del archivo cargado</h1>
  <h1 class="display-5">Titulo del archivo: {{datosRemmaq.tituloArchivo}}</h1>
  <h1 class="display-5">Estaciones encontradas:{{datosRemmaq.nombreestaciones}}</h1>
  <h1 class="display-5">Origen de los datos: {{datosRemmaq.origen}} <b>Cantidad de estaciones encontradas en el archivo:</b> {{datosRemmaq.numestaciones}}</h1>
  <h1 class="display-4">Magnitud: {{datosRemmaq.magnitud}}</h1>
  <h1 class="display-4">Descripción de los datos: {{datosRemmaq.description}}</h1>
  <h1 class="display-4">Numero de registros encontrados: {{datosRemmaq.numregistros}}</h1>
  <hr class="my-4">
  <h1 class="display-4">¿Datos correctos?</h1>
  <a class="btn btn-primary btn-lg" href="/users/hist" role="button">Si</a> <a class="btn btn-primary btn-lg" href="/users/uploadrem" role="button">No</a>
</div>
